/* 瀏覽器歸零 */
html,body,header,footer,main,article,aside,menu,nav,h1,h2,h3,h4,h5,h6,div,span,p,a,ul,ol,li,table,tr,td,th,button,input,img{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    vertical-align: bottom;

}
a:hover{
    color: var(--alphaWhilte--);
}

/* 預設內容 */
:root{
    --themeColor--: #797777;
    --blackColor--: #111111;
    --darkBlackColor--: #2B2B2B;
    --lightBlackColor--: #585858;
    --darkGrayColor--: #888888;
    --lightGrayColor--: #DDDDDD;
    --spanColor--: orangered;
    --alphaBlack--: #0008;
    --alphaWhilte--: #FFF8;
    --shadow--: 3px 3px 5px Gray;
    --transition--: all 600ms ease;
}

*[class^=btn]{
    display: inline-block;
    width: auto;
    padding: 0.25em 1em;
    margin: 0.5em 0;
    font-size: inherit;
    font-weight: 900;
    color: #FFF;
    border: 1px solid var(--lightGrayColor--);
    background-color: var(--lightGrayColor--);
    box-shadow: var(--shadow--);
    cursor: pointer;
}
*[class^=btn]:hover{
    filter: brightness(1.05);
}
*[class^=btn]:active{
    box-shadow: var(--shadow--) inset;
}
.btn-theme{
    background-color: var(--themeColor--);
}
.btn-span{
    background-color: var(--spanColor--);
    color: #FFF;
}
.btn-line{
    background-color: transparent;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-1{
    width: calc(100% / 12 * 1);
}
.grid-2{
    width: calc(100% / 12 * 2);
}
.grid-3{
    width: calc(100% / 12 * 3);
}
.grid-4{
    width: calc(100% / 12 * 4);
}
.grid-5{
    width: calc(100% / 12 * 5);
}
.grid-6{
    width: calc(100% / 12 * 6);
}
.grid-7{
    width: calc(100% / 12 * 7);
}
.grid-8{
    width: calc(100% / 12 * 8);
}
.grid-9{
    width: calc(100% / 12 * 9);
}
.grid-10{
    width: calc(100% / 12 * 10);
}
.grid-11{
    width: calc(100% / 12 * 11);
}
.grid-12{
    width: calc(100% / 12 * 12);
}

/*=== HEADER 設計 ===*/
header{
    width: 100%;
    height: 64px;
    line-height: 64px;
    color: var(--lightBlackColor--);
}
header #logo{
    width: 100%;
    padding: 0 1em;
}
header menu{
    width: 100%;
    background-color: var(--darkBlackColor--);
    color: var(--lightGrayColor--);
    display: none;
    position: relative;
    z-index: 30;
}
header menu ul{
    width: 100%;
    text-align: center;
}
header nav{
    width: 2em;
    height: 1em;
    position: absolute;
    top: calc(32px - 0.5em);
    right: 1em;
}
header nav .bar{
    width: 100%;
    height: 2px;
    background-color: var(--darkBlackColor--);
    position: absolute;
    transform-origin: 0 1px;
}
header nav .bar:nth-of-type(1){
    top: 0;
}
header nav .bar:nth-of-type(2){
    top: calc(0.5em - 1px);
}
header nav .bar:nth-of-type(3){
    bottom: 0;
}

/*=== THEME 設計 HTML+CSS ===*/
/*
#theme{
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
}
#theme .slide{
    width: 100%;
    height: 100%;
    position: relative;
}
#theme .slide .pic{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 100%;
    animation: sliding 25s linear infinite;
}
#theme .slide .pic:nth-of-type(1){
    background-image: url(https://picsum.photos/id/888/1200/1200);
}
#theme .slide .pic:nth-of-type(2){
    background-image: url(https://picsum.photos/id/999/1200/1200);
    animation-delay: 5s;
}
#theme .slide .pic:nth-of-type(3){
    background-image: url(https://picsum.photos/id/88/1200/1200);
    animation-delay: 10s;
}
#theme .slide .pic:nth-of-type(4){
    background-image: url(https://picsum.photos/id/777/1200/1200);
    animation-delay: 15s;
}
#theme .slide .pic:nth-of-type(5){
    background-image: url(https://picsum.photos/id/666/1200/1200);
    animation-delay: 20s;
}

@keyframes sliding{
    0%{
        transform: translateX(0);
        z-index: 5;
    }
    4%{
        transform: translateX(-100%);
    }
    20%{
        transform: translateX(-100%);
    }
    24%{
        transform: translateX(-200%);
        z-index: 5;
    }
    25%{
        transform: translateX(-200%);
        z-index: 1;
    }
    26%{
        transform: translateX(0);
    }
}
*/

/*=== THEME 設計 JS可選擇 ===*/
.clear::after{
    content: "";
    clear: both;
}
#theme{
    width: 100%;
    height: calc(100vh - 64px);
}
#theme #slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#theme #slide .slide{
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition--);
}
#theme #slide .slide .pic{
    width: calc(100% /5);
    height: 100%;
    background-size: cover;
    background-position: center;
    float: left;
}
#theme #slide .slide .pic:nth-of-type(1){
    background-image: url(../images/公司招牌.jpg);
} 
#theme #slide .slide .pic:nth-of-type(2){
    background-image: url(../images/公司大門1.jpg);
}
#theme #slide .slide .pic:nth-of-type(3){
    background-image: url(../images/骨架原料.jpg);
}
#theme #slide .slide .pic:nth-of-type(4){
    background-image: url(../images/工程圖1.jpg);
}
#theme #slide .slide .pic:nth-of-type(5){
    background-image: url(../images/成品1.jpg);
}

#theme .box{
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    position: absolute;
    bottom: 1em;
    left: 0;
}
#theme .box input{
    margin: 0 0.5em;
}
#theme .box input[type="radio"]{
    accent-color: orange;
    width: 1.5em;
    height: 1.5em;
}
#theme #prev,#theme #next{
    font-size: 40px;
    position: absolute;
    top: calc(50vh - 64px);
    color: #FFF;
    cursor: pointer;
    z-index: 5;
    opacity: 0.5;
    transition: var(--transition--);
}
#theme #prev{
    left: 1em;
}
#theme #next{
    right: 1em;
}
#theme #prev:hover,#theme #next:hover{
    opacity: 1;
}

#theme .push{
    width: 280px;
    font-size: 20px;
    background-color: var(--alphaBlack--);
    color: var(--lightGrayColor--);
    padding: 1em;
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50vh - 6em);
}
#theme p{
    margin: 0.6em 0;
}

/* ABOUT 設計 */
#about{
    width: 100%;
    color: var(--lightBlackColor--);
}
#about .grid-10{
    padding: 1em;
}
#about .grid-10 p{
    text-align: justify;
    padding: 0.5em 0;
}
#about .grid-10 i{
    color: var(--themeColor--);
}

/* PRODUCT 設計 */
#product{
    width: 100%;
}
#product .grid-12{
    background-color: var(--darkBlackColor--);
    color: var(--lightGrayColor--);
    text-align: center;
    padding: 3em 2em;
    line-height: 2.5em;
}
#product .grid-6{
    position: relative;
    overflow: hidden;
}
#product .grid-6 h3{
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    background-color: var(--alphaBlack--);
    color: var(--lightGrayColor--);
    position: absolute;
    bottom: 0;
}

/* PRODUCT-2 設計 */
#product-2{
    width: 100%;
    padding: 3em 0;
    color: var(--lightBlackColor--);
    line-height: 2em;
}
#product-2 .flex{
    padding: 0 1em;
}
#product-2 .grid-10{
    padding: 2em 2em;
}
#product-2 .grid-10 p{
    text-align: justify;
    padding: 0.5em 0;
}

/*=== SHOW 設計 ===*/
#show{
    width: 100%;
    height: 50vh;
    background-image: url(../images/整排浪板.jpg);
    background-size: cover;
    background-position: calc(100% - 20px);
}
#show.flex{
    justify-content: flex-end;
}
#show .grid-12{
    height: 100%;
    background-color: var(--alphaBlack--);
    color: #FFF;
    padding: 20vh 2.5em 0;
}
#show .grid-12 p{
    padding: 0.5em 0;
}

/*=== SERVICE 設計 ===*/
#service{
    width: 100%;
}
#service .grid-12{
    text-align: center;
    padding: 3em 2em;
    line-height: 2em;
}
#service .grid-12 h2{
    padding: 1em 0;
}
#service .grid-10{
    overflow: hidden;
    position: relative;
}
#service .grid-10 .push{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--alphaBlack--);
    color: var(--lightGrayColor--);
    padding: calc(50% - 8em) 1.5em 0;
    line-height: 2em;
}

/*=== CONTACT 設計 ===*/
#contact{
    width: 100%;
    background-color: var(--darkBlackColor--);
    color: var(--lightGrayColor--);
    text-align: justify;
    margin-top: 2em;
}
#contact .grid-10{
    padding: 3em 1.5em;
}
#contact .grid-10 h3{
    color: #FFF;
    padding: 2em 0;
}
#contact .grid-10 p{
    padding: 0.5em 0;
}
#contact .grid-10 table{
    width: 100%;
    padding: 0.5em 0;
}
#contact .grid-10 table tr td{
    padding: 0.25em;
}
#contact .grid-10 a{
    display: block;
    padding: 0.5em 0;
    color: var(--themeColor--);
}
#contact .grid-10 hr{
    border: 1px solid #000;
    margin: 1em 0;
}

/*=== FOOTER 設計 ===*/
footer{
    width: 100%;
    padding: 2em 1em;
    text-align: center;
    background-color: var(--blackColor--);
    color: var(--lightGrayColor--);
}

@keyframes loading{
    0%{
        transform: translateY(0);
        background-color: red;
    }
    50%{
        transform: translateY(-5em);
        background-color: green;
    }
    100%{
        transform: translateY(0);
        background-color: blue;
    }
}
@media only screen and (min-width: 320px){
    #product-2{
        padding: 3em 1em;
    }
}
@media only screen and (min-width: 412px){
    .grid-sm-1{
        width: calc(100% / 12 * 1);
    }
    .grid-sm-2{
        width: calc(100% / 12 * 2);
    }
    .grid-sm-3{
        width: calc(100% / 12 * 3);
    }
    .grid-sm-4{
        width: calc(100% / 12 * 4);
    }
    .grid-sm-5{
        width: calc(100% / 12 * 5);
    }
    .grid-sm-6{
        width: calc(100% / 12 * 6);
    }
    .grid-sm-7{
        width: calc(100% / 12 * 7);
    }
    .grid-sm-8{
        width: calc(100% / 12 * 8);
    }
    .grid-sm-9{
        width: calc(100% / 12 * 9);
    }
    .grid-sm-10{
        width: calc(100% / 12 * 10);
    }
    .grid-sm-11{
        width: calc(100% / 12 * 11);
    }
    .grid-sm-12{
        width: calc(100% / 12 * 12);
    }
}
@media only screen and (min-width: 540px){}
@media only screen and (min-width: 768px){
    .grid-md-1{
        width: calc(100% / 12 * 1);
    }
    .grid-md-2{
        width: calc(100% / 12 * 2);
    }
    .grid-md-3{
        width: calc(100% / 12 * 3);
    }
    .grid-md-4{
        width: calc(100% / 12 * 4);
    }
    .grid-md-5{
        width: calc(100% / 12 * 5);
    }
    .grid-md-6{
        width: calc(100% / 12 * 6);
    }
    .grid-md-7{
        width: calc(100% / 12 * 7);
    }
    .grid-md-8{
        width: calc(100% / 12 * 8);
    }
    .grid-md-9{
        width: calc(100% / 12 * 9);
    }
    .grid-md-10{
        width: calc(100% / 12 * 10);
    }
    .grid-md-11{
        width: calc(100% / 12 * 11);
    }
    .grid-md-12{
        width: calc(100% / 12 * 12);
    }

    /*=== HEADER 設計 ===*/
    header{
        display: flex;
    }
    header #logo{
        width: 30%;
        text-align: center;
    }
    header menu{
        width: 70%;
        display: block;
        background-color: transparent;
        color: var(--darkBlackColor--);
    }
    header menu ul{
        display: flex;
        justify-content: flex-end;
    }
    header menu ul li a{
        display: block;
        padding: 0 1em;
        transition: var(--transition--);
    }
    header menu ul li:hover a{
        background-color: var(--themeColor--);
    }
    header nav{
        display: none;
    }

    /*=== THEME 設計 JS ===*/
    #theme #prev,#theme #next{
        font-size: 60px;
    }

    #theme .push{
        width: 500px;
        left: 5em;
    }

    /* PRODUCT 設計 */
    #product .grid-6 img{
        transition: var(--transition--);
        filter: brightness(0.6);
    }
    #product .grid-6 h3{
        transition: var(--transition--);
        transform: translateY(3em);
    }
    #product .grid-6:hover img{
        filter: brightness(1);
    }
    #product .grid-6:hover h3{
        transform: translateY(0);
    }

    /*=== PRODUCT-2 設計 ===*/
    #product-2{
        padding: 3em;
    }

    /*=== SHOW 設計 ===*/
    #show{
        height: 30vh;
    }
    #show .grid-12{
        padding: 10vh 2.5em 0;
    }

    /*=== SERVICE 設計 ===*/
    #service .grid-12{
        padding: 3em 10em;
    }
    #service .grid-10 .push{
        margin-top: 10em;
        opacity: 0;
        transition: var(--transition--);
    }
    #service .grid-10:hover .push{
        margin-top: 0;
        opacity: 1;
    }

    /*=== FOOTER 設計 ===*/
    footer br{
        display: none;
    }
}
@media only screen and (min-width: 1024px){}
@media only screen and (min-width: 1280px){
    .grid-lg-1{
        width: calc(100% / 12 * 1);
    }
    .grid-lg-2{
        width: calc(100% / 12 * 2);
    }
    .grid-lg-3{
        width: calc(100% / 12 * 3);
    }
    .grid-lg-4{
        width: calc(100% / 12 * 4);
    }
    .grid-lg-5{
        width: calc(100% / 12 * 5);
    }
    .grid-lg-6{
        width: calc(100% / 12 * 6);
    }
    .grid-lg-7{
        width: calc(100% / 12 * 7);
    }
    .grid-lg-8{
        width: calc(100% / 12 * 8);
    }
    .grid-lg-9{
        width: calc(100% / 12 * 9);
    }
    .grid-lg-10{
        width: calc(100% / 12 * 10);
    }
    .grid-lg-11{
        width: calc(100% / 12 * 11);
    }
    .grid-lg-12{
        width: calc(100% / 12 * 12);
    }

    /*=== ABOUT 設計 ===*/
    #about .grid-md-5{
        padding: 1em 4em;
    }
    /*=== CONTACT 設計 ===*/
    #contact{
        margin-top: 0;
    }
}
@media only screen and (min-width: 1366px){}
@media only screen and (min-width: 1440px){}
@media only screen and (min-width: 1600px){
    .grid-xl-1{
        width: calc(100% / 12 * 1);
    }
    .grid-xl-2{
        width: calc(100% / 12 * 2);
    }
    .grid-xl-3{
        width: calc(100% / 12 * 3);
    }
    .grid-xl-4{
        width: calc(100% / 12 * 4);
    }
    .grid-xl-5{
        width: calc(100% / 12 * 5);
    }
    .grid-xl-6{
        width: calc(100% / 12 * 6);
    }
    .grid-xl-7{
        width: calc(100% / 12 * 7);
    }
    .grid-xl-8{
        width: calc(100% / 12 * 8);
    }
    .grid-xl-9{
        width: calc(100% / 12 * 9);
    }
    .grid-xl-10{
        width: calc(100% / 12 * 10);
    }
    .grid-xl-11{
        width: calc(100% / 12 * 11);
    }
    .grid-xl-12{
        width: calc(100% / 12 * 12);
    }
}
@media only screen and (min-width: 1920px){}